.home-section {
	display: flex;
	.home-container {
		flex: 6;

		.widget-content {
			display: flex;
			padding: 2rem;
			gap: 2rem;
		}

		.charts-content {
			display: flex;
			padding: 1rem 2rem;
			gap: 2rem;
		}

		.list-content {
			display: flex;

			.user-table {
				box-shadow: 10px 4px 10px 4px rgba(201, 201, 201, 0.5),
					5px 5px 10px 10px rgba(201, 201, 201, 0.5);
				border-radius: 10px;
				padding: 1rem 2rem;
				margin: 2rem 1rem 2rem 2rem;
				flex: 2;

				.list-title {
					font-weight: bold;
					color: gray;
					margin-bottom: 1rem;
				}
			}

			.list-table {
				flex: 2;
				box-shadow: 10px 4px 10px 4px rgba(201, 201, 201, 0.5),
					5px 5px 10px 10px rgba(201, 201, 201, 0.5);
				border-radius: 10px;
				padding: 1rem 2rem;
				margin: 2rem 2rem 2rem 1rem;

				.list-title {
					font-weight: bold;
					color: gray;
					margin-bottom: 1rem;
				}
			}
		}
	}
}
